.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.metadata
.vscode/
build/
coverage/
flutter_*.log
flutter_*.png

.idea/
*.iml
*.swp

android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar

ios/.generated/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/flutter_assets/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json
ios/**/xcuserdata/

macos/Flutter/ephemeral/
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/**/xcuserdata/

linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

*.jks
android/key.properties
